<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.donatemate">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="donatemate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp"
        tools:targetApi="31">
        <activity
            android:name=".EditDonation"
            android:exported="false" />
        <activity
            android:name=".ReadDonation"
            android:exported="false" />
        <activity
            android:name=".AddDonation"
            android:exported="false" />
        <activity
            android:name=".Successful_Payment"
            android:exported="false" />
        <activity
            android:name=".Show_Payment"
            android:exported="false" />
        <activity
            android:name=".Edit_Payment"
            android:exported="false" />
        <activity
            android:name=".Create_Payment"
            android:exported="false" />
        <activity
            android:name=".Userprofile"
            android:exported="false" />
        <activity
            android:name=".Editprofile"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>